.main_logo {
    height: 50px;
}

.date {
    font-size: 20px;
    margin: auto;
    padding-right: 5%;
}

body {
	margin: 0;
	padding: 0;
}

.slider {

	margin: 2em auto;
	padding-top: 1%;
}

.slider-wrapper {
	width: 100%;
	height: 315px;
	position: relative;

}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

footer{
    color: white;
    font-size: 14px;
    width: 100%;
    position: fixed;
}
#content{
    position: relative;
    float: right;
    color: black;
    right:5%;
    padding: 10px;

}

#about_mathyou{
    position: relative;
    float: left;
    color: black;
    padding: 10px;
    left: 5%;

}

.register_num{
    font-size: 153%;
}

.chooseClass {
    padding: right !important;
    display: block;
    text-align: right !important;
    text-decoration: none !important;
    color: black !important;
}
#addClass{
    padding: right;
    display: block;
    text-align: right;
    text-decoration: none;
    color: black !important;
}

.rainbow {
    height: 500px;
    padding-right:0%;
}

#navbarDropdown{
    text-decoration: none;
    color: black !important;
}

#navBarTeacher{
    display: absolute;
    direction: rtl !important;
}

#classNav{
    display: absolute;
    direction: rtl !important;
}

#navBarEx{
    display: absolute;
    direction: rtl !important;
}
}

.navBarclass{
    display: absolute;
    direction: rtl !important;
}

.StudentNav{
    text-decoration: none !important;
    color: black !important;
}

#exList{
    display: absolute;
    direction: rtl;
    text-align: right;

}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

table{
   width: 60%;
  border: 1px solid black;
  border-collapse: collapse;
  color:black;
  margin:0;
  text-align: center !important;
}

th , td {
 width: 15%;
 border: 1px solid black;
  border-collapse: collapse;
}


a{
 font-size:18px;
}

.sorf {
  height: 40px;
  padding: 10px;
  display:absolute;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

}

#reply {
    direction: rtl;
}

