<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/studentEnvironment_style.css'>
    <title>סביבת עבודה - תלמיד</title>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="font-size: 20px; padding-right: 25px;">
                    <button> <a class="nav-link" href="/logout">התנתק <span class="sr-only">(current)</span></a></button>
                </li>
                <li class="nav-item active" style="font-size: 20px; padding-right: 25px;">
                    <a class="nav-link">{{result[0][0]}} {{result[0][1]}} <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
        <img class="main_logo" src="static/images/main_logo.png"></img>
    </nav>
</div>
</br>
<div class="navbar navbar-expand-lg navbar-light bg-light navBarclass">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand chooseClass col-4"> כיתה: {{className}} <span class="sr-only">(current)</span></a>
    </nav>
</div>

</br>
<div class="navbar navbar-expand-lg navbar-light bg-light" id="navBarTeacher">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="width:80%; font-weight:bold; " >תרגילים</a>
    </nav>
</div>
</br>
<div class="navbar-expand-lg navbar-light bg-light"  id="navBarEX">

      <div class="col ex">

      <tr>
                {% for item in range(exNum) %}

                <a class="navbar-brand" style="width:100%" href="/exerciseDetails/{{exList[item][0]}}/-1">{{exList[item][0]}}</a>
      </br>
                {% endfor %}
      </tr>


    </div>
  <img class="rainbow" src="../static/images/happy.png"></img>
</div>
</body>
</html>